/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2-Dec-2015, 6:07:36 PM
    Author     : uh606_000
*/

body {margin: 0;padding:0;background:url(images/body-tail.gif) #b2b2b2;height: 100%; overflow:auto;}
div {margin:0;padding:0;vertical-align: baseline;font-family: Arial, Helvetica, sans-serif;font-size: 12px;font-style: normal;font-variant: normal;font-weight: normal;}
div#body{height:100%}
#control_panel {height:100%;float:left;width:15%;background: steelblue;color:white;position: fixed;}
td,tr,span,p,ul,li{margin:0;padding:0}
#main_panel {background:url(images/body-tail.gif) #b2b2b2;height:100%;padding:10px;}
#user_stat span{font-weight: bold;}
#user_stat td{margin:0 5px;}
#user_stat {border: 1px solid white;border-radius: 5px; margin: 10px; padding: 6px;}
ul {list-style: none;}
#control_panel li{padding:10px;-o-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
transition:all 0.3s ease;}
#control_panel li:hover{padding:10px;background:lightblue;}
#control_panel a{font-size:15px;text-decoration: none;}
.active {background:lightblue;}
.header_title {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #4E6076;
    padding-bottom: 46px;
}
.Datagrid {border:1px solid #6A7481;}
.Datagrid th{    background: #D8D8D8;
    border: 1px solid #BDBDBD;
    padding: 0;
    margin: 0;
    width: 7%;}
.Datagrid tr{background: white;-o-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
transition:all 0.3s ease;}
.Datagrid tr:hover{background: #6666ff !important;color:white}
.Datagrid td{padding:6px 4px;}
.even {background: #F1F5FA !important;}
.Datagrid a{text-decoration: none;}
.Datagrid img{height: 15px;width:auto;vertical-align: -3px;margin-right:5px;}
.login_box {    height: 222px;
    width: 400px;
    background: #fff;
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;border:1px solid #a1a1a1;border-radius: 5px;box-shadow: rgba(0, 0, 0, 0.17) 0 5px 13px; }
.login_text{    background: #8DA6C3;
    border: 2px solid #fff;
    color: white;
    border-radius: 5px;}
.login_box td {color:white;font-weight: bold;}
.submitbutton {    border-radius: 5px;
    background: white;
    border: 1px solid #8F9090;
    float: right;
    clear: both;
    margin-top: 65px;
    margin-right: 22px;width: 80px;font-weight: bold;}
.submitbutton:hover {background: #6666ff;color:white;-o-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
transition:all 0.3s ease;}
.main_button{    margin: 10px;
    background: #AFAFAF;
    border: 1px solid #A1A1A1;
    color: white;
    padding: 10px;
    border-radius: 5px;font-weight: bold;}
.main_button:hover {-o-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
transition:all 0.3s ease;
    background: orange;
    border-color: #FF7E00;
}
.form_recipe *{font-size:13px;font-family: 'Source Sans Pro', Arial;}
.form_recipe {margin:10px;padding:15px;background:white;border:5px solid #dedede;border-radius: 5px;}
.form_recipe label {margin:10px 0;display: inline-block;min-width:200px;text-align: right;font-weight: bold;padding-right:10px;}
.form_recipe .textboxinput {border:1px solid #dedede;border-radius: 5px;width:300px;padding:5px;}
.form_recipe .textareainput {border:1px solid #dedede;border-radius: 5px;width:300px;padding:5px;}
.clear {clear:both}
#gridingre a{border:1px solid #a1a1a1;background: #dedede;border-radius: 5px;margin:10px;padding:5px;cursor:pointer;}
#gridingre a:hover{background: orange;}
/* --------------------------Linh -----------------------------------------------------------*/
div.login-admin-error-msg{position: absolute; color: red;margin-top: -33px;}
a.log{font-size: 13px !important; color: lawngreen;text-decoration: underline !important}
#control_box a{color:white;}
div#content{margin-left: 250px; padding-top: 50px}
.errorMsg {
	FONT-SIZE: 11px; COLOR: red
}
.ecol1 { vertical-align: top; padding-right : 25px }
        .ecol2 { vertical-align: top; border-left: #ACBECE 1px solid; padding-left : 10px }
        .rich-calendar-tool-btn{
            font-family: Arial, Verdana;
} 
/*--------------  table -------------------*/
.tableEditHeader{
    background: #fff0c6;
    height: 30px;
}

.tableEdit{
     background-color: White; 
}
.tableEdit tr td{
    height: 34px;
}

.tableEdit tr td label{
    margin-right: 10px;
}

.tableEdit tr td input{
    margin-right: 10px;
}
.rowOne
{		
	padding-left: 10px;
	font-family: tahoma;
	font-size: 11px;
	height: 35px;
	background-color: rgb(239, 239, 241);
}
.rowTwo
{	
	padding-left: 10px;
	font-family: tahoma;
	font-size: 11px;
	height: 35px;
	background-color: rgb(255, 255, 255);
}
.nameColumn 
{
	padding-left: 3px;
	text-align: left;
}
.actionColumn 
{ 
	text-align: center;
}
.imageColumn 
{    
	text-align: center;
}

.tableViewSummary caption
{
    padding-right: 10px;
    padding-left: 10px;
    font-size: 13px;
    background: #fff0c6;
    padding-bottom: 0px;
    padding-top: 4px;
    border-bottom: #fec219 1px solid;
    color: #505050;
    font-family: tahoma;
    border-right: #fec219 1px solid;
    border-top: #fec219 3px solid;
    border-left: #fec219 1px solid;
    font-weight: bold;
    text-align:center;   
    line-height: 30px
}

.tabletitle
{   padding-right: 10px;
    padding-left: 10px;
    font-size: 14px;
    background: #fff0c6;
    padding-bottom: 0px;
    padding-top: 4px;
    border-bottom: #fec219 3px solid;
    color: #505050;
    font-family: tahoma;
    border-right: #fec219 1px solid;
    border-top: #fec219 3px solid;
    border-left: #fec219 1px solid;
    font-weight: bold;
    text-align:left;   
    line-height: 30px
}


.tableViewSummary
{
    border: 1px none White;  
    font-weight: normal; 
    font-style: normal; 
    font-size: 12px; 
    font-family: tahoma; 
    color: rgb(80, 80, 80); 
    background-color: White; 
    border-collapse: collapse;
}
/*--------------------------table -------------------*/
.btnImage{
    margin-right: 20px;
}
.fileUpload{
    width: 800px;
}